body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Metal Mania", system-ui;
    margin-bottom: 100px;
}

.metal-mania-regular {
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

header {
    border-bottom: solid 2px rgb(86, 5, 29);
    padding: 20px;
    font-size: 32px;
    color: rgb(86, 5, 29);
}

.chamada {
    background: rgb(86, 5, 29);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-musica {
    display: flex;
    overflow-x: auto;
    gap: 35px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-musica img {
    opacity: 0.5;
    height: 200px;
}

.categoria-musica img:hover {
    opacity: 1.0;
    border: 1px; solid green;
}

.categoria h2 {
    color: rgb(86, 5, 29);
}